* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: #fff;
    font-weight: 400;
    font-family: "jetBrains Mono", "Cascadia Code", sans-serif;
    font-size: 25px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(rgba(68, 136, 238, 0.1), rgba(120, 68, 187, 0.108));
}

article {
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    padding: 50px;
    border-radius: 5px;
}

.container {
    padding: 20px;
}